.block-1{
	box-sizing: border-box;
	width: 500px;
	border: 1px solid red;
	padding: 20px 30px 50px 100px;
	/*padding-left: auto;
	padding-right: auto;*/
}

.block-2{
	width: 500px;
	border: 1px solid red;
	padding: 10px;
	box-sizing: border-box;
}

.block-2 img{
	max-width: 100%;
	height: auto;
}