
/*Nhúng font vào web*/
@font-face{
	font-family: "Open Sans Regular";
	src: url('../fonts/OpenSans-Regular.ttf');
}

body{
	/*font-family: "Open Sans Regular", sans-serif;*/
	/*font-family: 'Hahmlet', serif;*/
	/*letter-spacing: 5pt;*/
	/*font-size: 20px;*/
	/*line-height: 20px;*/
}

.text{
	font-style: italic;
}

.text{
	font-family: 'Hahmlet';
	font-style: normal;
	font-weight: 600;
	/*letter-spacing: 5px;*/
	/*line-height: 1.5;*/
	/*text-decoration: overline line-through underline;*/
	word-spacing: 5px;
	text-indent: 20px;
	text-transform: capitalize;
}

.transform::first-letter{
	text-transform: uppercase;
}



